<div class="container">
    <div class="row">
        <div class="card card-middle-article">
            <article class="card-body">
                <form [formGroup]="signupFormGroup" (submit)="doValidateRegistration()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="email" formControlName="fname" [class.invalid-red]="invalid && signupFormGroup.get('fname').hasError('required')" autocomplete="off" class="form-control" id="exampleInputFullName1" aria-describedby="fnameHelp">
                        <small *ngIf="invalid && signupFormGroup.get('fname').hasError('required')" id="emailHelp" class="form-text font-red">Please Enter Your name</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" formControlName="email" [class.invalid-red]="invalid && signupFormGroup.get('email').hasError('required')" autocomplete="off" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small *ngIf="invalid && signupFormGroup.get('email').hasError('required')" id="emailHelp" class="form-text font-red">Please Enter Email Address</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" formControlName="password" [class.invalid-red]="invalid && signupFormGroup.get('password').hasError('required')" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="invalid && signupFormGroup.get('password').hasError('required')" id="passHelp" class="form-text font-red">Please Enter Password</small>
                    </div>
                    <!-- <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-link" (click)="service.doNavigate('idm/login')">Already a member?</button>
                </form>
            </article>
        </div>
    </div>
</div>