div.card-middle-article{
    top: 20%;
    width: 50%;
    left: 20%;
    position: absolute;
}
small.font-red{
    color: red;
}
input.invalid-red{
    border-color: red;
    box-shadow: 1px 1px red;
}